## general
*.DS_Store
*.swp
*~.nib

# Windows image thumbnail file
Thumbs.db

build/

# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
xcschememanagement.plist

## Xcode
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.xcuserdata
*.xcuserstate
*.ipa

# Android files and folders
.idea
Breakpoints.xcbkptlist
